.Unsupported {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(var(--bg-base));
  color: rgb(var(--text-primary));
}

.Unsupported-paper {
  width: 600px;
  max-width: 100%;
  padding: 40px;
  text-align: center;
}

.Unsupported-paper__header {
  margin-bottom: 40px;
}

.Unsupported-paper__missing {
  margin-bottom: 40px;
  text-align: left;
}

.Unsupported-paper__missing ul {
  margin-top: 8px;
  padding-left: 24px;
  list-style: disc;
  color: rgb(var(--text-secondary));
}
